<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
</head>
<body>
    <h1>{{ project.title }}</h1>
    <p><strong>Учебный год:</strong> {{ project.get_year_display }}</p>
    <p><strong>Тип проекта:</strong> {{ project.get_project_type_display }}</p>
    <p><strong>Автор:</strong> {{ project.author }}</p>
    <p><strong>Супервайзер:</strong> {{ project.supervisor }}</p>
    <p><strong>Уровень:</strong> {{ project.get_level_display }}</p>
    <p><strong>Масштаб:</strong> {{ project.get_scale_display }}</p>
</body>
</html>